@tailwind base;
@tailwind components;
@tailwind utilities;


/* start sidebar tab contents flex auto */
[role="tabpanel"] {
    flex: auto;
    padding-right: 0;
}

[data-slot="tab"] {
    justify-content: start;
}
/* end sidebar tab contents flex auto */

/* start register product form */
.register_input_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 0.75rem;
    /* .input{
        flex: 1;
        min-width: 350px;
    } */
}
/* end register product form */


@layer base {
    :root { 
      --textGray: 195, 200, 204;
    }
  }